## 오픈 API에서 로컬 컴퓨터로 데이터 받아오기

In [ ]:
%pip install xmltodict

In [ ]:
import requests
import xml.etree.ElementTree as ET
import xmltodict
import json

In [ ]:
from user_agent import generate_user_agent, generate_navigator
import requests
import xml.etree.ElementTree as ET
import xml
import csv
import time

page = 6401
# csv 파일로 저장
with open('C:\\Users\\USER\\Desktop\\raw_data\\charging_station_data3.csv', 'a', newline = '', encoding='utf-8') as csv_file:
    fieldnames = ['OBJT_ID', 'STAT_NM', 'STAT_ID', 'CHGER_ID', 'CHGER_TYPE', 'USE_TM', 'ROAD_ADRES', 'X', 'Y']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()

    while page <= 6500:
        url = f"http://safemap.go.kr/openApiService/data/getChargingStationData.do?pageNo={page}&numOfRows=30&type=xml&serviceKey=KB8G1A3V-KB8G-KB8G-KB8G-KB8G1A3V5Q"
        
        response = requests.get(url=url)
        if response.status_code == 200:
            data = response.text
            if len(data) == 0:
                break

            try:
                # xml 파싱하여 elementTree 객체 생성 후 원하는 요소 내용들만 추출
                root = ET.fromstring(data)

                for item in root.findall('.//item'):
                    objt_id = item.findtext('OBJT_ID')
                    stat_nm = item.findtext('STAT_NM')
                    stat_id = item.findtext('STAT_ID')
                    chger_id = item.findtext('CHGER_ID')
                    chger_type = item.findtext('CHGER_TY')
                    use_tm = item.findtext('USE_TM')
                    road_adres = item.findtext('RN_ADRES')
                    x_axis = item.findtext('X')
                    y_axis = item.findtext('Y')

                    # 추출한 데이터를 dictionary에 저장
                    station_data = {
                        'OBJT_ID': objt_id,
                        'STAT_NM': stat_nm,
                        'STAT_ID': stat_id,
                        'CHGER_ID': chger_id,
                        'CHGER_TYPE': chger_type,
                        'USE_TM': use_tm,
                        'ROAD_ADRES': road_adres,
                        'X': x_axis,
                        'Y': y_axis 
                    }
                    writer.writerow(station_data)
                    
                page += 1
            except (ET.ParseError, xml.parsers.expat.ExpatError) as parse_error:
                print(f"Skipping page {page}. Parsing error occurred: {parse_error}")
                page += 1
            except PermissionError as perm_error:
                print(f"Skipping page {page}. Permission error occurred: {perm_error}")
                page += 1
        else:
            print(f"Error: {response.status_code}")
            break

In [ ]:
import pandas as pd

# CSV 파일을 불러옵니다
file_path = 'C:\\Users\\USER\\Desktop\\raw_data\\charging_station_data_location.csv'
data = pd.read_csv(file_path)

# 중복된 행을 확인하고 삭제합니다
data_without_duplicates = data.drop_duplicates()

# 변경된 데이터를 새로운 CSV 파일로 저장합니다
new_file_path = 'C:\\Users\\USER\\Desktop\\raw_data\\charging_station_data1_location.csv'
data_without_duplicates.to_csv(new_file_path, index=False)

In [ ]:
import pandas as pd

# 첫 번째 파일과 두 번째 파일을 불러옵니다
file_path1 = 'C:\\Users\\USER\\Desktop\\raw_data\\charging_station_data2.csv'
file_path2 = 'C:\\Users\\USER\\Desktop\\raw_data\\charging_station_data2_location.csv'

data1 = pd.read_csv(file_path1)
data2 = pd.read_csv(file_path2)

# 두 파일을 'OBJT_ID'를 기준으로 병합합니다
merged_data = pd.merge(data1, data2, on='OBJT_ID', how='left')

# 병합된 데이터를 새로운 CSV 파일로 저장합니다
merged_file_path = 'C:\\Users\\USER\\Desktop\\raw_data\\merged_charging_station_data2.csv'
merged_data.to_csv(merged_file_path, index=False)

## 중복 데이터 제거 후 데이터 전처리

In [ ]:
import pandas as pd
import numpy as np

file_path1 = 'C:\\Users\\USER\\Desktop\\raw_data\\charging_station_data1.csv'

data1 = pd.read_csv(file_path1)
df = pd.DataFrame(data1)

In [ ]:
df = df[['OBJT_ID', 'STAT_NM', 'STAT_ID', 'USE_TM', 'ROAD_ADRES', 'X', 'Y', 'CHGER_ID', 'CHGER_TYPE']]

df['LOCATION'] = df['X'] + ', ' + df['Y']
df.drop(labels=['X', 'Y'], axis=1, inplace=True)

df = df[['OBJT_ID', 'STAT_NM', 'STAT_ID', 'USE_TM', 'ROAD_ADRES', 'LOCATION', 'CHGER_ID', 'CHGER_TYPE']]
# 'STAT_ID'를 기준으로 'CHGER_ID'와 'CHGER_TYPE' 열을 그룹화하여 묶기
df['CHGER_COUNT'] = df.groupby('STAT_ID')['STAT_ID'].transform('size')
grouped_chger_type = df.groupby('STAT_ID')['CHGER_TYPE'].apply(set).reset_index(name='CHGER_TYPE_LIST')
df = pd.merge(df, grouped_chger_type, on='STAT_ID', how='left')

df = df.drop_duplicates(subset='STAT_ID', keep='first')
df.drop(labels=['CHGER_ID', 'CHGER_TYPE'], axis=1, inplace=True)

df.drop(labels=['CHGER_TYPE_LIST_x', 'CHGER_TYPE_LIST_y'], axis=1, inplace=True)

output_file = 'C:\\Users\\USER\\Desktop\\raw_data\\cleaned_charging_station_data1.csv'
df.to_csv(output_file, index=False)

## 데이터베이스에 raw_data 테이블 적재하기

In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1
!pip install psycopg2-binary

In [ ]:
%%sql
postgresql://engineer4:******@121.174.150.2:7759/dev

In [ ]:
import datetime as dt

from sqlalchemy import create_engine, select, Column
from sqlalchemy import String, Integer, DateTime, ForeignKey

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session, relationship


Base = declarative_base()


class ChargingStationData(Base):
    __tablename__ = "charging_station_data"
    __table_args__ = {'schema': 'raw_data'}

    object_id = Column(Integer, primary_key=True)
    station_name = Column(String)
    station_id = Column(String)
    use_time = Column(String)
    road_address = Column(String)
    location = Column(String)
    charger_cnt = Column(Integer)
    charger_type = Column(String)

    def __repr__(self):
        return f"""ChargingStationData(
          object_id={self.object_id}, station_name={self.station_name}, 
          station_id={self.station_id}, use_time={self.use_time}, 
          road_address={self.road_address}, location={self.location}),
          charger_cnt={self.charger_cnt}, charger_type={self.charger_type}
          """


if __name__ == "__main__":
		# engineer4 로 접속
    CONNECT_URI = "postgresql://engineer4:de1234@121.174.150.2:7759/dev"
    engine = create_engine(CONNECT_URI)

    # 데이터 베이스에 테이블 생성
    Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd

# SQLAlchemy 엔진 생성
CONNECT_URI = "postgresql://engineer4:de1234@121.174.150.2:7759/dev"
engine = create_engine(CONNECT_URI)

# 세션 생성
Session = sessionmaker(bind=engine)
session = Session()

# CSV 파일을 데이터프레임으로 읽기
file_path = 'C:/Users/USER/Desktop/raw_data/cleaned_charging_station_data2.csv'
data = pd.read_csv(file_path)

# 데이터베이스 테이블에 데이터 적재
for _, row in data.iterrows():
    try:
        object_id = int(row['OBJT_ID'])  # 'OBJD_ID' 칼럼을 정수로 변환
    except ValueError:
        # 정수로 변환할 수 없는 경우 건너뜁니다
        continue
    try:
        charging_station = ChargingStationData(
            object_id=row['OBJT_ID'],
            station_name=row['STAT_NM'],
            station_id=row['STAT_ID'],
            use_time=row['USE_TM'],
            road_address=row['ROAD_ADRES'],
            location=row['LOCATION'],
            charger_cnt=row['CHGER_COUNT'],
            charger_type=row['CHGER_TYPE_LIST']
            # 다른 필드들도 필요에 따라 추가해주세요
        )
        session.add(charging_station)
        # 변경 내용 커밋
        session.commit()
    except IntegrityError as e:
        # Primary Key 중복 오류가 발생할 경우 건너뜁니다
        session.rollback()  # 변경 내용 롤백

# 세션 닫기
session.close()

## SQL 쿼리문을 활용한 2차 전처리 진행

In [ ]:
%%sql

UPDATE raw_data.charging_station_data
SET road_address = SPLIT_PART(road_address, ' ', 1);

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# 데이터베이스 연결 설정
engine = create_engine('postgresql://engineer4:de1234@121.174.150.2:7759/dev')

# 세션 생성
Session = sessionmaker(bind=engine)
session = Session()

# 지역명을 표준화된 이름으로 매핑한 딕셔너리
mapping = {
    '충청북도': '충북',
    '국립극장': '서울',
    '대전광역시': '대전',
    '인천광역시': '인천',
    '울산광역시': '울산',
    '광주광역시': '광주',
    '전기차충전소': '경기',
    '강원도': '강원',
    '부산광역시': '부산',
    '경산시': '경북',
    '대구광역시': '대구',
    '입구좌측,': '서울',
    '서울특별시': '서울',
    '전라남도': '전남',
    '제일오투마트': '전북',
    '경상북도': '경북',
    '경기도': '경기',
    '지상': '서울',
    '전라북도': '전북',
    '충청남도': '충남',
    '경상남도': '경남',
    '세종특별자치시': '세종'
}

try:
    # 매핑에 따라 데이터 업데이트
    for old_value, new_value in mapping.items():
        # 지정된 조건에 해당하는 데이터를 찾아 새로운 값으로 업데이트
        session.query(ChargingStationData).filter(ChargingStationData.road_address == old_value).update({ChargingStationData.road_address: new_value})

    # 변경 사항 커밋
    session.commit()
    print("데이터 변경 완료")

except Exception as e:
    # 오류 발생 시 롤백
    session.rollback()
    print("작업 중 오류 발생:", e)

finally:
    # 세션 종료
    session.close()

In [ ]:
%%sql

ALTER TABLE raw_data.charging_station_data
RENAME COLUMN road_address TO city;

In [ ]:
import pandas as pd
from pyproj import Proj, Transformer

# CSV 파일 읽기
df = pd.read_csv('C:\\Users\\USER\\Desktop\\raw_data\\cleaned_charging_station_data3.csv')

# 원래 좌표계와 변환할 좌표계 정의 (예: EPSG:3857에서 EPSG:4326로 변환)
in_proj = Proj('epsg:3857')
out_proj = Proj('epsg:4326')

# 좌표 변환 함수 정의
def transform_coordinates(row):
    x = row['LOCATION'].split(',')[0]  # CSV 파일의 경도 열
    y = row['LOCATION'].split(',')[1]   # CSV 파일의 위도 열

    # 'X'와 같은 잘못된 값을 건너뜁니다.
    try:
        transformer = Transformer.from_proj(in_proj, out_proj)
        lon, lat = transformer.transform(float(x), float(y))
        return lon, lat
    except ValueError:
        return None, None
    
# 변환된 좌표 생성
df[['new_longitude', 'new_latitude']] = df.apply(transform_coordinates, axis=1, result_type='expand')

df = df.dropna(subset=['new_longitude', 'new_latitude'])

# 변환된 좌표를 새로운 CSV 파일로 저장
df.to_csv('C:\\Users\\USER\\Desktop\\raw_data\\transformed_coordinates3.csv', index=False)

In [ ]:
from sqlalchemy import create_engine, select, Column
from sqlalchemy import String, Integer, DateTime, ForeignKey, Float

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session, relationship


Base = declarative_base()


class ChargingStationAddingCoordinate(Base):
    __tablename__ = "charging_station_adding_coordinate"
    __table_args__ = {'schema': 'raw_data'}

    object_id = Column(Integer, primary_key=True)
    station_name = Column(String)
    station_id = Column(String)
    road_address = Column(String)
    charger_cnt = Column(Integer)
    longitude = Column(Float)
    latitude = Column(Float)

    def __repr__(self):
        return f"""ChargingStationAddingCoordinate(
          object_id={self.object_id}, station_name={self.station_name}, 
          station_id={self.station_id}, road_address={self.road_address}, 
          charger_cnt={self.charger_cnt}, longitude={self.longitude}, latitude={self.latitude})
          """


if __name__ == "__main__":
		# engineer4 로 접속
    CONNECT_URI = "postgresql://engineer4:de1234@121.174.150.2:7759/dev"
    engine = create_engine(CONNECT_URI)

    # 데이터 베이스에 테이블 생성
    Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import IntegrityError
import pandas as pd

# SQLAlchemy 엔진 생성
CONNECT_URI = "postgresql://engineer4:de1234@121.174.150.2:7759/dev"
engine = create_engine(CONNECT_URI)

# 세션 생성
Session = sessionmaker(bind=engine)
session = Session()

# CSV 파일을 데이터프레임으로 읽기
file_path = 'C:/Users/USER/Desktop/raw_data/transformed_coordinates3.csv'
data = pd.read_csv(file_path)

# 데이터베이스 테이블에 데이터 적재
for _, row in data.iterrows():
    try:
        object_id = int(row['OBJT_ID'])  # 'OBJD_ID' 칼럼을 정수로 변환
    except ValueError:
        # 정수로 변환할 수 없는 경우 건너뜁니다
        continue
    try:
        charging_station = ChargingStationAddingCoordinate(
            object_id=row['OBJT_ID'],
            station_name=row['STAT_NM'],
            station_id=row['STAT_ID'],
            road_address=row['ROAD_ADRES'],
            charger_cnt=row['CHGER_COUNT'],
            longitude=row['new_longitude'],
            latitude=row['new_latitude']
        )
        session.add(charging_station)
        # 변경 내용 커밋
        session.commit()
    except IntegrityError as e:
        # Primary Key 중복 오류가 발생할 경우 건너뜁니다
        session.rollback()  # 변경 내용 롤백

# 세션 닫기
session.close()

## 분석 테이블 생성

In [ ]:
%%sql

CREATE TABLE analytics.charger_category_table AS
SELECT
    charger_types.*,
    CASE
        WHEN charger_int = 1 THEN 'dc CHAdeMO'
        WHEN charger_int = 2 THEN 'ac 완속'
        WHEN charger_int = 3 THEN 'dc CHAdeMO, ac 3상'
        WHEN charger_int = 4 THEN 'dc combo'
        WHEN charger_int = 5 THEN 'dc CHAdeMO, dc combo'
        WHEN charger_int = 6 THEN 'dc CHAdeMO, ac 3상, dc combo'
        WHEN charger_int = 7 THEN 'ac 3상'
        ELSE 'unknown'
    END AS charger_category
FROM (
    SELECT
        a.*,
        CAST(replace(unnest(string_to_array(b.charger_type, ',')), '''', '') AS INTEGER) AS charger_int
    FROM analytics.charging_coordinate_city_table a
    JOIN raw_data.charging_station_data b
        ON a.object_id = b.object_id
) charger_types;

In [ ]:
%%sql

ALTER TABLE analytics.charger_category_table
ADD COLUMN charger_type VARCHAR(20);

In [ ]:
%%sql

UPDATE analytics.charger_category_table
SET charger_type = 
    CASE 
        WHEN charger_int = 1 THEN '급속 충전기'
        WHEN charger_int = 2 THEN '완속 충전기'
        WHEN charger_int = 3 THEN '급속 충전기'           
        WHEN charger_int = 4 THEN '급속 충전기'
        WHEN charger_int = 5 THEN '급속 충전기'
        WHEN charger_int = 6 THEN '급속 충전기'
        WHEN charger_int = 7 THEN '완속 충전기'
        ELSE '알 수 없음'
    END;

In [ ]:
%%sql

ALTER TABLE analytics.charging_coordinate_city_table
DROP COLUMN road_address;

In [ ]:
%%sql

ALTER TABLE analytics.charging_coordinate_city_table
ADD COLUMN iso_code VARCHAR(10);

UPDATE analytics.charging_coordinate_city_table AS cc
SET iso_code = (
    SELECT dept_id
    FROM raw_data.iso3166_2kr_transform AS iso
    WHERE iso.dept_name = cc.city
);

## AWS redshift에 적재하기

In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1
!pip install psycopg2-binary

In [ ]:
%%sql
postgresql://engineer4:*****@121.174.150.2:7759/dev

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# PostgreSQL 서버 연결 설정
db_url = 'postgresql://engineer4:*****@121.174.150.2:7759/dev'
engine = create_engine(db_url)

# 쿼리 작성 (테이블명은 여기서 예시로 "테이블명"으로 표시)
query = "SELECT * FROM analytics.charging_coordinate_city_table"

# 데이터베이스로부터 데이터를 가져오기
try:
    # PostgreSQL 데이터베이스 연결
    connection = engine.connect()

    # 데이터를 DataFrame으로 읽어오기
    df = pd.read_sql(query, connection)

    # 로컬 파일로 저장 (CSV 파일로 예시)
    df.to_csv("C:\\Users\\USER\\Desktop\\raw_data\\charging_coordinate_city_table.csv", index=False)
finally:
    connection.close()  # 연결 종료

In [ ]:
%sql postgresql://engineer4:*****@colab.091842024722.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

CREATE TABLE raw_data.charging_station_data (
   object_id integer PRIMARY KEY,
   station_name varchar(50),
   station_id varchar(20),
   use_time varchar(80),
   city varchar(10),
   location varchar(30),
   charger_int integer,
   charger_type varchar(30)
);

In [ ]:
%%sql

COPY raw_data.charging_station_data
FROM 's3://redshift-copy-colab/de_project2/charging_station_data.csv'
credentials 'aws_iam_role=arn:aws:iam::091842024722:role/redshift_role_for_copy_s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

CREATE TABLE raw_data.charging_station_adding_coordinate (
   object_id integer PRIMARY KEY,
   station_name varchar(200),
   station_id varchar(20),
   road_address varchar(200),
   charger_int integer,
   new_latitude float,
   new_longitude float
);

In [ ]:
%%sql

COPY raw_data.charging_station_adding_coordinate
FROM 's3://redshift-copy-colab/de_project2/charging_station_adding_coordinate.csv'
credentials 'aws_iam_role=arn:aws:iam::091842024722:role/redshift_role_for_copy_s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

CREATE TABLE analytics.charger_category_table (
   object_id integer PRIMARY KEY,
   station_name varchar(200),
   station_id varchar(20),
   charger_cnt integer,
   new_latitude float,
   new_longitude float,
   city varchar(200),
   iso_code varchar(200),
   charger_int integer,
   charger_category varchar(200),
   charger_type varchar(200)
);

In [ ]:
%%sql

COPY analytics.charger_category_table
FROM 's3://redshift-copy-colab/de_project2/charger_category_table.csv'
credentials 'aws_iam_role=arn:aws:iam::091842024722:role/redshift_role_for_copy_s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

In [ ]:
%%sql

CREATE TABLE analytics.charging_coordinate_city_table (
   object_id integer PRIMARY KEY,
   station_name varchar(200),
   station_id varchar(20),
   charger_cnt integer,
   new_latitude float,
   new_longitude float,
   city varchar(200),
   iso_code varchar(200)
);

In [ ]:
%%sql

COPY analytics.charging_coordinate_city_table
FROM 's3://redshift-copy-colab/de_project2/charging_coordinate_city_table.csv'
credentials 'aws_iam_role=arn:aws:iam::091842024722:role/redshift_role_for_copy_s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;